#gridMain{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(auto, auto);
}

.titleText {
    grid-column: 1;
}

.authorUpsertDiv{
    grid-column: 2;
    grid-row: 1;
    margin-top: 10%;
}

.genTable{
    border-top: 1px solid;
    font-size: large; 
    width: 100%;
    border-collapse:  collapse;
    grid-column: 1;
    
}

.table, th, td {
    border-left: 1px solid;
    border: 1px solid;
    border-collapse:  collapse;
  }

.table, th {
    background-color: coral;
}

.idTd{
    background-color:chocolate;
}

.updateBtn{
    background-color: cyan;
    border-color: cyan;
    margin-right: 1rcap;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.deleteBtn{
    background-color: red;
    border-color: red;
    margin-left: 1rcap;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.navBar{
    list-style-type: none;
  padding: 1%;
  background-color: darkcyan;
  font-size: 20px;
  
  
}

.navBarli {
    display: inline;
    color: white;
    margin: 2%;
    
}
